.SignalGraph {
    width: 100vw;
    height: 400px;
    background-color: cornsilk;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-scroll{
  height: 100%;
  overflow: scroll;
}
