header {
    h1 {
        span:last-child {
            font-family: 'Alfa Slab One', cursive;
            font-size: 7rem;
        }
    }
}

.recomm {
    max-width: 50rem;
}

h2 {
    font-size: 1.5rem;
}